$robotoCondensed: 'Roboto Condensed', sans-serif; // Google Font

// Colors
$maroon: #450920; // h1 and most other text
$rose: #A53860; // sub headers in header and footer
$blush: #DA627D; // any accent text, such as a specific work to emphasize
$salmonPink: #FFA5AB; // same as above
$lightOrange: #F9DBBD; // possible background?