@import "./styles/variables.scss";
@import "./styles/header.scss";

.App {
    // background-color: $lightOrange; // decide if we want this as the background color

    .home {
        font-family: $robotoCondensed;
        color: $maroon;
    
        div, h2, h3, h4, h5, h6, p{
            font-weight: 400;
        }
    }
}
